.trade_item_container{
  display: flex;
  padding: 5px 10px;
  flex-direction: column;
}
.trade_item_data_wrap{
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  margin-top: 20px;
}
.trade_item_img_wrap{
  height: fit-content;
  width:90%;
  margin: 20px auto auto;
}
.trade_item_wrap{
  height: fit-content;
  width:100%;
  margin: auto;
  max-width: 290px;
}
.trade_item_text_wrap{
  display: flex;
  flex-direction: column;
  padding: 14px;
  height: 110px;
  justify-content: space-around;
}
.tradID_hover{
  cursor: pointer;
  color:#1976d2;
}
.tradID_hover:hover{
  color:orange;
}