.popper_container{
  height: 30px;
  display: flex;
  justify-content: end;
  margin: 10px;
}
.settings_wrap{
  background: transparent;
  border: none;
  width: 40px;
  margin-left: auto;
}
.popper_img{
  height:100%;
}
.popperLogout{
  inset: 15px auto auto -24px; 
  left:10px
}