.user_trades_container{
  display: flex;
  flex-direction: column;
  margin-top:2px;
}
.trade_item_wrapper{
  height: 40px;
  margin: 5px;
  padding: 5px 10px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  font-size: 8px;
}
.loader_wrap{
  margin-top:40px;
  display: flex;
  justify-content: center;
  /*margin-top: 20px;*/
  
}
.trades_title{
  margin-top:15px;
  font-family: SF Pro Display
}